
@{
    Layout = null;
}

    <div class="menu">
        <ul class="list-group text-center">
            <li class="list-group-item"><a href="~/blog/index"> List</a></li>
            <li class="list-group-item"><a href="~/blog/create"> New</a> </li>
            <li class="list-group-item"> <a href="~/blog/search">Search</a></li>
            <li class="list-group-item"><a href="~/blog/edit">Edit</a> </li>
        </ul>
    </div>
