@{
    ViewData["Title"] = "New Blog";
    var checkInsert = ViewBag.CheckInsert;
    var messageInser = ViewData["MessageInsert"];
    var listCategory = ViewBag.listCategory;

}

<div class="create-blog">
    <div class="card px-1">
        <div class="card-header py-0">
            <h4>New Blogs</h4>
            @{
                if (checkInsert)
                {
                    <p class="text-danger">@messageInser</p>
                }
            }
        </div>
        <div class="card-body p-2 with-50">
            @using (Html.BeginForm("createBlog", "Blog", FormMethod.Post, new { @class = "needs-validation", novalidate = "" }))
            {
                <div class="row align-items-center ">

                    <div class="col-12 mt-4 has-validation">
                        <label for="inputNewTitleBlog" class="col-form-label">Tiêu đề</label>
                        <input type="text" id="inputNewTitleBlog" name="Title" class="form-control " placeholder="Title" aria-describedby="inputNewTitleBlog" required>
                        <div class="invalid-tooltip">
                            Title not null
                        </div>
                    </div>

                    <div class="col-12 mt-4 has-validation">
                        <label for="inputNewShortDescTitleBlog" class="col-form-label">Mô tả ngắn</label>
                        <input type="text" id="inputNewShortDescTitleBlog" name="Short_Description" placeholder="Short Description" class="form-control" required>
                        <div class="invalid-tooltip">
                            Short Description not null
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <label for="inputNewDescTitleBlog" class="col-form-label">Chi tiết</label>
                        <textarea class="form-control" rows="7" id="inputNewDescTitleBlog" name="Description" required></textarea>
                        <div class="invalid-tooltip">
                            Description not null
                        </div>
                    </div>

                    <div class="col-md-12 mt-4 input-img-create-blog">
                        <label for="inputNewFile" class="col-form-label">Hình ảnh</label>
                        <input class="form-control-novalidate with-75" id="inputNewFile" name="ImageUrl" type="file">
                    </div>

                    <div class="col-md-12 mt-4">
                        <label for="inputNewCategory" class="col-form-label">Loại</label>
                        <select id="inputNewCategory" class="form-control-novalidate with-30" name="Category_Id">
                            @{
                                <option selected value="0">Choose...</option>
                                foreach (CategoryModel category in listCategory)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="col-md-12 mt-4">
                        <div class="col-md-12">
                            <label class="col-form-label">Vị trí</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Việt Nam" name="Place" id="placeNewVietName" checked>
                            <label class="form-check-label" for="placeNewVietName">
                                Việt Nam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Châu Á" name="Place" id="placeNewAsian">
                            <label class="form-check-label" for="placeNewAsian">
                                Châu Á
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Châu Âu" name="Place" id="placeNewEuro">
                            <label class="form-check-label" for="placeNewEuro">
                                Châu Âu
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Châu Mỹ" name="Place" id="placeNewAmerica">
                            <label class="form-check-label" for="placeNewAmerica">
                                Châu Mỹ
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div>
                            <label class="col-form-label"> Public</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Status" value="true" id="radioNewPublicNo">
                            <label class="form-check-label" for="radioNewPublicNo">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Status" value="false" id="radioNewPublicYes" checked>
                            <label class="form-check-label" for="radioNewPublicYes">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <label for="inputEditPublicDate" class="col-form-label">Date public</label>
                        <input type="date" id="inputEditPublicDate" name="Public_Date" class="form-control-novalidate with-30" placeholder="mm/dd/yyyy">
                    </div>


                    <div class="col-12 pt-3 mt-3 text-center">
                        <button class="btn btn-success" type="submit">Submit</button>
                        <button class="btn btn-primary" type="button" onclick="newClear()"> Clear</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>