.logo img{
    height:90px;
    width:auto;
    text-align:center;
}

.with-75{
    width:75%;
}

.with-50{
    width:50%;
}
.with-30{
    width:30%;
}
.with-25{
    width:25%;
}

.form-control-novalidate {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    color: #212529 !important;
}
/* Header style*/
    .header {
    min-height:120px;
    margin-bottom:15px;
}

.header .title{
    text-align:left;
    padding:25px 10px;
}

/* Menu style */
.menu{
    font-size:15px;
    color:#000;
}
.menu a{
    color :black;
}
.menu a:hover{
    text-decoration:none;
}

/* Table style*/

.list-blog .card{
    border:0;
}

.list-blog .card .card-header{
    background-color:white;
    border:0;
}

.list-blog .card .card-body {
    padding-left:0;
    padding-right:20px;
}

.table-list-blog a {
    color: #0366d6 !important;
}
.rowid {
    max-width: 35px;
    width: 20px;
}